/* 
    Created on : 11/02/2016, 13:57:56
    Author     : leonardo
*/

* {
    box-sizing: border-box;
}



.heading-primary {
    font-size: 2em;
    padding: 2em;
    text-align: center;
}

.accordion{
    margin-top: 5em;
    
}

.accordion a{
    color: #000;
    text-decoration: none;
    font-size: 12pt;
}

.accordion a:hover{
    color: #fff;
}

.accordion dl,
.accordion-list {
    border: 1px solid #ddd;
}
.accordion dl:after,
.accordion-list:after {
    content: "";
    display: block;
    height: 1em;
    width: 100%;
    background-color: #ba221d;
}

.accordion dd,
.accordion__panel {
    background-color: #eee;
    font-size: 1em;
    line-height: 1.5em;
}

.accordion p {
    padding: 1em 0em 1em 0em;
}

.accordion {
    position: relative;
    background-color: #eee;
}

.containerAccordion {
    max-width: 960px;
    margin: 0 auto;
    padding: 2em 0 2em 0;
}

.accordionTitle,
.accordion__Heading {
    background-color: #fc535e;
    text-align: center;
    font-weight: 700;
    padding: 2em;
    display: block;
    text-decoration: none;
    color: #fff;
    -webkit-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
    border-bottom: 1px solid #ff91aa;
}
.accordionTitle:before,
.accordion__Heading:before {
    content: "+";
    font-size: 1.5em;
    line-height: 0.5em;
    float: left;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.accordionTitle:hover,
.accordion__Heading:hover {
    background-color: #c45b58;
}

.accordionTitleActive,
.accordionTitle.is-expanded {
    background-color: #c45b58;
    height: 100%;
}
.accordionTitleActive:before,
.accordionTitle.is-expanded:before {
    -webkit-transform: rotate(-225deg);
    transform: rotate(-225deg);
}

.accordionItem {
    height: auto;
    overflow: scroll;
    max-height: 150em;
    -webkit-transition: max-height 1s;
    transition: max-height 1s;
}

@media screen and (max-width: 768px){
    .containerAccordion {
        max-width: 768px;
        margin: 0 auto;
        padding: 1em 0 1em 0;
    }
    a{font-size: 0.75em;}
}

@media screen and (max-width: 640px){
    a{font-size: 0.65em;}
}

@media screen and (max-width: 480px){
    a{font-size: 0.5em;}
}


@media screen and (max-width: 320px){
    .containerAccordion {
        max-width: 150px;
        margin: 0 auto;
        padding: 0em 0 0em 0;
    }
    .acordion{
        max-width: 150px;
    }
    a{
        font-size: 0.25em;
    }
    /*    .table_accordion {
            font-size: 0.25em;
        }*/

}

@media screen and (min-width: 48em) {
    .accordionItem {
        max-height: 15em;
        -webkit-transition: max-height 0.5s;
        transition: max-height 0.5s;
    }
}

.accordionItem.is-collapsed {
    max-height: 0;

}

.accordionItem.is-expanded{
    max-height: 50em;
}

.no-js .accordionItem.is-collapsed {
    max-height: 100%;
}

.animateIn {
    -webkit-animation: accordionIn 0.45s normal ease-in-out both 1;
    animation: accordionIn 0.45s normal ease-in-out both 1;
}

.animateOut {
    -webkit-animation: accordionOut 0.45s alternate ease-in-out both 1;
    animation: accordionOut 0.45s alternate ease-in-out both 1;
}

@-webkit-keyframes accordionIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.9) rotateX(-60deg);
        transform: scale(0.9) rotateX(-60deg);
        -webkit-transform-origin: 50% 0;
        transform-origin: 50% 0;
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes accordionIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.9) rotateX(-60deg);
        transform: scale(0.9) rotateX(-60deg);
        -webkit-transform-origin: 50% 0;
        transform-origin: 50% 0;
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@-webkit-keyframes accordionOut {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(0.9) rotateX(-60deg);
        transform: scale(0.9) rotateX(-60deg);
    }
}
@keyframes accordionOut {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(0.9) rotateX(-60deg);
        transform: scale(0.9) rotateX(-60deg);
    }
}
