<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Doador</servlet-name>
        <servlet-class>br.com.hemosystem.servlets.DoadorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultaDoacoesServlet</servlet-name>
        <servlet-class>br.com.hemosystem.servlets.ConsultaDoacoesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoacaoServlet</servlet-name>
        <servlet-class>br.com.hemosystem.servlets.DoacaoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Doador</servlet-name>
        <url-pattern>/Doador.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultaDoacoesServlet</servlet-name>
        <url-pattern>/ConsultaDoacoes.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoacaoServlet</servlet-name>
        <url-pattern>/Doacao.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
